## Numbeo Extract - price_items

To extract from the API of NUmbeo follow the next steps:
- Access the url prefix with a request method e.g. `https://www.numbeo.com:8008/api/<DOCUMENT>?api_key=<YOUR_KEY>`
- Every document (table) in Numbeo has different parameters to query, for more info go to [API doc](https://www.numbeo.com/api/doc.jsp)

In [1]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

In [2]:
request = requests.get("http://www.numbeo.com:8008/api/price_items?api_key=")

In [3]:
df = json_normalize(json.loads(request.text)['items'])
df.head()

,category,cpi_factor,item_id,name,rent_factor
0,Restaurants,16.0,1,"Meal, Inexpensive Restaurant",0.0
1,Restaurants,3.5,2,"Meal for 2 People, Mid-range Restaurant, Three...",0.0
2,Restaurants,6.0,3,McMeal at McDonalds (or Equivalent Combo Meal),0.0
3,Restaurants,5.0,4,Domestic Beer (0.5 liter draught),0.0
4,Restaurants,5.0,5,Imported Beer (0.33 liter bottle),0.0

This table contains the individual items used for the cost of living calculation, for instance we can see the query for [Maastricht](https://www.numbeo.com/cost-of-living/in/Maastricht) and [Mexico City](https://www.numbeo.com/cost-of-living/in/Mexico-City)  
The price items is an auxiliar table.

In [4]:
df

,category,cpi_factor,item_id,name,rent_factor
0,Restaurants,16.0000,1,"Meal, Inexpensive Restaurant",0.00
1,Restaurants,3.5000,2,"Meal for 2 People, Mid-range Restaurant, Three...",0.00
2,Restaurants,6.0000,3,McMeal at McDonalds (or Equivalent Combo Meal),0.00
3,Restaurants,5.0000,4,Domestic Beer (0.5 liter draught),0.00
4,Restaurants,5.0000,5,Imported Beer (0.33 liter bottle),0.00
5,Restaurants,6.0000,6,Coke/Pepsi (0.33 liter bottle),0.00
6,Restaurants,6.0000,7,Water (0.33 liter bottle),0.00
7,Markets,25.0000,8,"Milk (regular), (1 liter)",0.00
8,Markets,31.0000,9,Loaf of Fresh White Bread (500g),0.00
9,Markets,20.0000,11,Eggs (regular) (12),0.00
10,Markets,12.0000,12,Local Cheese (1kg),0.00
11,Markets,30.0000,13,Water (1.5 liter bottle),0.00
12,Markets,4.0000,14,Bottle of Wine (Mid-Range),0.00
13,Markets,6.0000,15,Domestic Beer (0.5 liter bottle),0.00
14,Markets,6.0000,16,Imported Beer (0.33 liter bottle),0.00
15,Markets,15.0000,17,Cigarettes 20 Pack (Marlboro),0.00
16,Transportation,20.0000,18,One-way Ticket (Local Transport),0.00
17,Transportation,1.5000,20,Monthly Pass (Regular Price),0.00
18,Markets,31.0000,110,Apples (1kg),0.00
19,Rent Per Month,0.0000,26,Apartment (1 bedroom) in City Centre,0.25
20,Rent Per Month,0.0000,27,Apartment (1 bedroom) Outside of Centre,0.25
21,Rent Per Month,0.0000,28,Apartment (3 bedrooms) in City Centre,0.25
22,Rent Per Month,0.0000,29,Apartment (3 bedrooms) Outside of Centre,0.25
23,Utilities (Monthly),1.0000,30,"Basic (Electricity, Heating, Cooling, Water, G...",0.00
24,Utilities (Monthly),320.0000,32,1 min. of Prepaid Mobile Tariff Local (No Disc...,0.00
25,Utilities (Monthly),1.0000,33,"Internet (60 Mbps or More, Unlimited Data, Cab...",0.00
26,Buy Apartment Price,0.0000,100,Price per Square Meter to Buy Apartment in Cit...,0.00
27,Buy Apartment Price,0.0000,101,Price per Square Meter to Buy Apartment Outsid...,0.00
28,Salaries And Financing,0.0000,105,Average Monthly Net Salary (After Tax),0.00
29,Salaries And Financing,0.0000,106,"Mortgage Interest Rate in Percentages (%), Yea...",0.00
30,Transportation,60.0000,24,Gasoline (1 liter),0.00
31,Sports And Leisure,2.3000,40,"Fitness Club, Monthly Fee for 1 Adult",0.00
32,Sports And Leisure,3.0000,42,Tennis Court Rent (1 Hour on Weekend),0.00
33,Sports And Leisure,6.0000,44,"Cinema, International Release, 1 Seat",0.00
34,Markets,15.0000,19,"Chicken Breasts (Boneless, Skinless), (1kg)",0.00
35,Transportation,0.0065,25,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,0.00
36,Clothing And Shoes,0.3500,60,1 Pair of Jeans (Levis 501 Or Similar),0.00
37,Clothing And Shoes,0.3500,62,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",0.00
38,Clothing And Shoes,0.3500,64,1 Pair of Nike Running Shoes (Mid-Range),0.00
39,Clothing And Shoes,0.3500,66,1 Pair of Men Leather Business Shoes,0.00
40,Transportation,5.0000,107,Taxi Start (Normal Tariff),0.00
41,Transportation,20.0000,108,Taxi 1km (Normal Tariff),0.00
42,Transportation,0.7000,109,Taxi 1hour Waiting (Normal Tariff),0.00
43,Markets,30.0000,111,Oranges (1kg),0.00
44,Markets,24.0000,112,Potato (1kg),0.00
45,Markets,18.0000,113,Lettuce (1 head),0.00
46,Restaurants,15.0000,114,Cappuccino (regular),0.00
47,Markets,14.0000,115,"Rice (white), (1kg)",0.00
48,Markets,22.0000,116,Tomato (1kg),0.00
49,Markets,25.0000,118,Banana (1kg),0.00
50,Markets,10.0000,119,Onion (1kg),0.00
51,Markets,15.0000,121,Beef Round (1kg) (or Equivalent Back Leg Red M...,0.00
52,Transportation,0.0000,206,Toyota Corolla 1.6l 97kW Comfort (Or Equivalen...,0.00
53,Childcare,0.0000,224,"Preschool (or Kindergarten), Full Day, Private...",0.00
54,Childcare,0.0000,228,"International Primary School, Yearly for 1 Child",0.00